<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTTP 403 Forbidden</title>
</head>
<body>

<h1>HTTP 403 Forbidden</h1>
<p>You are logged on the system but not permitted to access this resource:</p>

<!--/*@thymesVar id="exception" type="java.lang.Exception"*/-->
<p th:text="${exception.getMessage()}">The requested record does was not found on the database</p>

<h3>Navigation</h3>
<p><a href="/userPage">View DB user records</a></p>
<p><a href="/adminPage">Edit DB user records</a></p>
<p><a th:href="@{/testRecord}">TestRecord CRUD page</a></p>
<form action="/logout" method="post">
    <input type="submit" value="Log out" style="width: 200px">
</form>

</body>
</html>