<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<div>
    <h1>Admin page</h1>

    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>

    <a href="/adminPage">Admin page</a>
    <a href="/userPage">User page</a>
    <a href="/logout">Sign out</a>
</div>

</body>
</html>