<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Admin page</title>
</head>
<body>
<nav th:replace="fragments/navNoSearch :: nav"></nav>

<div class="container">
    <div class="row">
        <div class="row-md-12">
            <h1>Admin page</h1>
            <p><b>Your ID:</b> <span th:text="${userID}"></span> <b>Your username:</b> <span sec:authentication="name"></span></p>

            <p><b>Your permissions:</b> <span sec:authentication="principal.authorities"></span></p>
            <hr>

            <h3>AdminUsers on file</h3>
            <p sec:authorize="hasAuthority('admin.update')">Click an ID to edit or delete a user</p>
            <table class="table table-sm">
                <tr>
                    <th>Admin ID</th>
                    <th>Admin username</th>
                </tr>
                <!--/*@thymesVar id="adminUser" type="com.springsecurity.weblogin.model.security.User"*/-->
                <tr th:each="adminUser: ${AdminUsersFound}">
                    <td><a sec:authorize="hasAuthority('teacher.update')"
                           th:href="@{/updateAdmin/{userId}(userId=${adminUser.id})}" th:text="${adminUser.id}"></a></td>
                    <td th:text="${adminUser.username}"></td>
                </tr>
            </table>
            <form sec:authorize="hasAuthority('admin.create')" action="/createAdmin">
                <input type="submit" value="New admin" style="width: 200px">
            </form>
            <br/>
            <hr>

            <h3>TeacherUsers on file</h3>
            <p th:if="${!TeacherUsersFound.isEmpty()}"
               sec:authorize="hasAuthority('admin.update')">Click an ID to edit or delete a user</p>
            <p th:unless="${!TeacherUsersFound.isEmpty()}"
               sec:authorize="hasAuthority('admin.update')">There are no teacherUsers on file</p>
            <table class="table table-sm" th:if="${!TeacherUsersFound.isEmpty()}">
                <tr>
                    <th>Teacher ID</th>
                    <th>Teacher username</th>
                </tr>
                <!--/*@thymesVar id="teacherUser" type="com.springsecurity.weblogin.model.security.User"*/-->
                <tr th:each="teacherUser: ${TeacherUsersFound}">
                    <td><a sec:authorize="hasAuthority('teacher.update')"
                           th:href="@{/updateTeacher/{userId}(userId=${teacherUser.id})}" th:text="${teacherUser.id}"></a></td>
                    <td th:text="${teacherUser.username}"></td>
                </tr>
            </table>
            <form sec:authorize="hasAuthority('admin.create')" action="/createTeacher">
                <input type="submit" value="New teacher" style="width: 200px">
            </form>
            <br/>
            <hr>

            <h3>GuardianUsers on file</h3>
            <p th:if="${!GuardianUsersFound.isEmpty()}"
               sec:authorize="hasAuthority('admin.update')">Click an ID to edit or delete a user</p>
            <p th:unless="${!GuardianUsersFound.isEmpty()}"
               sec:authorize="hasAuthority('admin.update')">There are no guardianUsers on file</p>
            <table class="table table-sm" th:if="${!GuardianUsersFound.isEmpty()}">
                <tr>
                    <th>Guardian ID</th>
                    <th>Guardian username</th>
                </tr>
                <!--/*@thymesVar id="guardianUser" type="com.springsecurity.weblogin.model.security.User"*/-->
                <tr th:each="guardianUser: ${GuardianUsersFound}">
                    <td><a sec:authorize="hasAuthority('teacher.update')"
                           th:href="@{/updateGuardian/{userId}(userId=${guardianUser.id})}" th:text="${guardianUser.id}"></a></td>
                    <td th:text="${guardianUser.username}"></td>
                </tr>
            </table>
            <form sec:authorize="hasAuthority('admin.create')" action="/createGuardian">
                <input type="submit" value="New guardian" style="width: 200px">
            </form>

            <hr>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>