<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<div>
    <h1>Admin page</h1>
    <p><b>ID:</b> <span th:text="${userID}"></span> <b>Username:</b> <span sec:authentication="name"></span></p>

    <p><b>User permissions:</b> <span sec:authentication="principal.authorities"></span></p>
    <hr>

    <h3>Users on file</h3>
    <p>Click an ID to edit or delete a user</p>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>No. of authorities</th>
        </tr>
        <!--/*@thymesVar id="found" type="com.springsecurity.weblogin.model.security.User"*/-->
        <tr th:each="found: ${usersFound}">
            <td><a th:href="@{/user/{userId}(userId=${found.id})}" th:text="${found.id}"></a></td>
            <td th:text="${found.username}"></td>
            <td th:text="${found.getAuthorities().size()}"></td>
        </tr>
    </table>
    <br />
    <form action="/createUser">
        <input type="submit" value="New user" style="width: 200px">
    </form>

    <hr>
    <br/>
    <p><a href="/authenticated">Authentication page</a></p>
    <p><a href="/userPage">View DB user records</a></p>
    <p><a th:href="@{/testRecord}">TestRecord CRUD page</a></p>
    <form action="/logout" method="get">
        <input type="submit" value="Log out" style="width: 200px">
    </form>
</div>

</body>
</html>