<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authenticated user</title>
</head>
<body>

<div>
    <h1>Welcome on board</h1>
    <p sec:authorize="hasAuthority('admin.read')">
        You are in the ADMIN group
    </p>
    <p sec:authorize="hasAuthority('user.read')">
        You are in the USER group
    </p>
    <p>
        <b>ID:</b> <span th:text="${userID}"></span>, <b>Username:</b> <span sec:authentication="name"></span>
    </p>
    <p>
        <b>Authorities:</b> <span sec:authentication="principal.authorities"></span>
    </p>
    <br/>
    <a th:href="@{/testRecord}">TestRecord CRUD page</a>
    <a href="/adminPage">Admin page</a>
    <a href="/userPage">User page</a>
    <a href="/logout">Sign out</a>
</div>

</body>
</html>