<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TestRecord CRUD ops</title>
</head>
<body>
    <h1>TestRecord CRUD operations</h1>

    <p><b>Username:</b> <span sec:authentication="name"></span></p>

    <p>TestRecords on file (click the ID to update or delete a record):</p>

    <!--/*@thymesVar id="testRecord" type="com.springsecurity.weblogin.model.TestRecord"*/-->
    <div th:each="testRecord: ${testRecords}">
        <a th:href="@{/testRecord/{id}(id=${testRecord.id})}" th:text="${testRecord.id}">1</a>
        <label th:text="${testRecord.recordName}">Record Name</label>
    </div>
    <hr>
    <form action="/createTestRecord">
        <input type="submit" value="Create" style="width: 200px">
    </form>

    <hr>
    <br/>
    <a href="/authenticated">Authentication page</a>
    <a href="/adminPage">Admin page</a>
    <a href="/userPage">User page</a>
    <a href="/logout">Sign out</a>
</body>
</html>