<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TestRecord CRUD ops</title>
</head>
<body>

<h1>Create a testRecord</h1>

<p>
    <b>Username:</b> <span sec:authentication="name"></span>
</p>
<!--/*@thymesVar id="newTestRecord" type="com.springsecurity.weblogin.model.TestRecord"*/-->
<form th:object="${newTestRecord}" th:action="@{/createTestRecord}" method="post">
    <div>
        <label>Record name</label>
    </div>
    <div>
        <input type="text" size="50" placeholder="Record name" th:field="*{recordName}"/>
    </div>
    <div>
        <label>Guardian username</label>
    </div>
    <!--/*@thymesVar id="guardianUser" type="com.springsecurity.weblogin.model.security.User"*/-->
    <div th:object="${guardianUser}" >
        <input type="text" size="50" placeholder="Guardian username" th:field="*{username}"/>
    </div>
    <div>
        <input style="width: 200px" type="submit" value="Submit"/>
    </div>
</form>


<br/>
<p><a href="/authenticated">Authentication page</a></p>
<p><a href="/userPage">View DB user records</a></p>
<p><a href="/adminPage">Edit DB user records</a></p>
<p><a href="/logout">Sign out</a></p>

</body>
</html>