<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Weblogin users</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="row-md-12">
            <h1>View DB user records</h1>
            <p><b>ID:</b> <span th:text="${userID}"></span> <b>Username:</b> <span sec:authentication="name"></span></p>

            <p><b>User permissions:</b> <span sec:authentication="principal.authorities"></span></p>
            <hr>

            <h3>Check (demo) user authorisation</h3>
            <form th:action="@{/listUsers}" method="get" class="form-horizontal" id="search-student-form">
                <button type="submit" class="btn btn-info">List all users</button>
            </form>

            <table>
                <!--/*@thymesVar id="found" type="com.springsecurity.weblogin.model.security.User"*/-->
                <tr th:each="found: ${usersFound}">
                    <td th:text="${found.username}"></td>
                </tr>
            </table>

            <p><a href="/authenticated">Index page</a></p>
            <p sec:authorize="hasAuthority('admin.create')"><a href="/adminPage">Edit DB user records</a></p>
            <p sec:authorize="hasAuthority('guardian.read')"><a th:href="@{/testRecord}">TestRecord CRUD page</a></p>
            <form action="/logout" method="post">
                <input type="submit" value="Log out" style="width: 200px">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>