<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Welcome page</title>
</head>
<body>
<nav th:replace="fragments/navNoSearch :: nav"></nav>

<div class="container">
    <div class="row">
        <div class="row-md-12">
            <h1>Spring Security Web-login Demo</h1>

            <div sec:authorize="isAuthenticated()">
                <p>You are already logged in as "<b><span sec:authentication="name"></span></b>".</p>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <p><a href="/authenticated">Proceed</a> to the login page</p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>